<a href="https://colab.research.google.com/github/AmaleshV/Elliptic/blob/master/elliptic_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Increase RAM

In [ ]:
#not mandatory if and only to increase the ram from 12GB to 26GB
d=[]
while(1):
  d.append('1')

In [ ]:
#reset variables if you've any predefined variables
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# Mount google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

# Git-lfs install

In [ ]:
!sudo apt-get install git-lfs

Reading package lists... Done
Building dependency tree
Reading state information... Done
git-lfs is already the newest version (2.3.4-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 25 not upgraded.

# Git clone elliptic

In [ ]:
%%time
#as the file is >100MB we need to use git lfs rather git clone
!git lfs clone https://github.com/AmaleshV/Elliptic.git

WARNING: 'git lfs clone' is deprecated and will not be updated
          with new flags from 'git clone'

'git clone' has been updated in upstream Git to have comparable
speeds to 'git lfs clone'.
Cloning into 'Elliptic'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (20/20), done.
remote: Total 26 (delta 6), reused 19 (delta 4), pack-reused 0
Unpacking objects: 100% (26/26), done.
Git LFS: (0 of 1 files) 0 B / 146.12 MB
batch response: This repository is over its data quota. Account responsible for LFS bandwidth should purchase more data packs to restore access.
error: failed to fetch some objects from 'https://github.com/AmaleshV/Elliptic.git/info/lfs'
CPU times: user 18.3 ms, sys: 24.9 ms, total: 43.2 ms
Wall time: 1.39 s

In [ ]:
#!rm -rf Elliptic/

In [ ]:
#unzip the elliptic dataset
!unzip -uq "/content/Elliptic/elliptic-data-set.zip" -d "/content/"

[/content/Elliptic/elliptic-data-set.zip]
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of /content/Elliptic/elliptic-data-set.zip or
        /content/Elliptic/elliptic-data-set.zip.zip, and cannot find /content/Elliptic/elliptic-data-set.zip.ZIP, period.

In [ ]:
from os import chdir, getcwd
chdir('/content/drive/My Drive/elliptic')
print(getcwd())

/content/drive/My Drive/elliptic

# From Drive

In [2]:
#as the bandwidth of github lfs is over we've to stick to an alternative
!pip install gdown
!gdown --id 1GE6WIhTkFpzWym1wdtYUyT4AolAtYyhu
!unzip elliptic-data-set.zip

Requirement already satisfied: gdown in /usr/local/lib/python3.6/dist-packages (3.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from gdown) (4.41.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (2.10)
Downloading...
From: https://drive.google.com/uc?id=1GE6WIhTkFpzWym1wdtYUyT4AolAtYyhu
To: /content/elliptic-data-set.zip
153MB [00:01, 108MB/s]
Archive:  elliptic-data-set.zip
  inflating: elliptic_bitcoin_dataset/elliptic_txs_classes.csv
  inflating: elliptic_bitcoin_dataset/elliptic_txs_edgelist.csv
  inflating: elliptic_bitcoin_dataset/elliptic_txs_features.csv

# Install required packages

In [1]:
!pip install node2vec
import matplotlib.pyplot as plt
import networkx as nx
import warnings; warnings.simplefilter('ignore')
import seaborn as sns
from node2vec import Node2Vec
import node2vec
import numpy as np
import numpy
from sklearn.metrics import roc_curve,roc_auc_score,f1_score,cohen_kappa_score,precision_score,recall_score,confusion_matrix
from sklearn.model_selection import ParameterGrid, ParameterSampler
from time import time
from sklearn.metrics import classification_report,recall_score,precision_score
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from pylab import rcParams
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import itemfreq
import plotly.offline as py 
import plotly.graph_objs as go

Requirement already satisfied: node2vec in /usr/local/lib/python3.6/dist-packages (0.3.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from node2vec) (4.41.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from node2vec) (1.18.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.6/dist-packages (from node2vec) (0.16.0)
Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (from node2vec) (3.6.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from node2vec) (2.4)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim->node2vec) (2.1.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim->node2vec) (1.4.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim->node2vec) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->node2vec) (4.4.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim->node2vec) (2.23.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim->node2vec) (1.14.33)
Requirement already satisfied: boto in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim->node2vec) (2.49.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim->node2vec) (3.0.4)
Requirement already satisfied: botocore<1.18.0,>=1.17.33 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim->node2vec) (1.17.33)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim->node2vec) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim->node2vec) (0.10.0)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.18.0,>=1.17.33->boto3->smart-open>=1.2.1->gensim->node2vec) (0.15.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.18.0,>=1.17.33->boto3->smart-open>=1.2.1->gensim->node2vec) (2.8.1)

In [2]:
!pip install eif
!pip install pyod
from pyod.models import *
from pyod.utils.example import *
import pandas as pd
import numpy as np

# Import models
from pyod.models.abod import ABOD
from pyod.models.cblof import CBLOF
from pyod.models.feature_bagging import FeatureBagging
from pyod.models.hbos import HBOS
from pyod.models.iforest import IForest
from pyod.models.knn import KNN
from pyod.models.lof import LOF
from pyod.models.auto_encoder import AutoEncoder
from pyod.models.cof import COF
from pyod.models.lmdd import LMDD
from pyod.models.loda import LODA
from pyod.models.loci import LOCI
from pyod.models.lscp import LSCP
from pyod.models.mcd import MCD
from pyod.models.mo_gaal import MO_GAAL
from pyod.models.ocsvm import OCSVM
from pyod.models.pca import PCA
from pyod.models.sod import SOD
from pyod.models.so_gaal import SO_GAAL
from pyod.models.sos import SOS
from pyod.models.vae import VAE

Requirement already satisfied: eif in /usr/local/lib/python3.6/dist-packages (2.0.2)
Requirement already satisfied: cython in /usr/local/lib/python3.6/dist-packages (from eif) (0.29.21)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from eif) (1.18.5)
Requirement already satisfied: pyod in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: combo in /usr/local/lib/python3.6/dist-packages (from pyod) (0.1.1)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from pyod) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pyod) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from pyod) (3.2.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pyod) (0.16.0)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.6/dist-packages (from pyod) (1.18.5)
Requirement already satisfied: suod in /usr/local/lib/python3.6/dist-packages (from pyod) (0.0.4)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from pyod) (1.4.1)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.6/dist-packages (from pyod) (0.48.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (2.4.7)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.35->pyod) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba>=0.35->pyod) (49.2.0)

# Read the csv files

In [3]:
%%time
edges = pd.read_csv('/content/elliptic_bitcoin_dataset/elliptic_txs_edgelist.csv',engine='python')
features = pd.read_csv('/content/elliptic_bitcoin_dataset/elliptic_txs_features.csv',engine='python',header=None)
classes = pd.read_csv('/content/elliptic_bitcoin_dataset/elliptic_txs_classes.csv',engine='python')

CPU times: user 36.9 s, sys: 5.6 s, total: 42.5 s
Wall time: 42.6 s

In [ ]:
display(edges.head(5),features.head(5),classes.head(5))

       txId1      txId2
0  230425980    5530458
1  232022460  232438397
2  230460314  230459870
3  230333930  230595899
4  232013274  232029206

         0    1         2         3    ...       163       164       165       166
0  230425980    1 -0.171469 -0.184668  ... -0.131155 -0.097524 -0.120613 -0.119792
1    5530458    1 -0.171484 -0.184668  ... -0.131155 -0.097524 -0.120613 -0.119792
2  232022460    1 -0.172107 -0.184668  ... -0.131155 -0.183671 -0.120613 -0.119792
3  232438397    1  0.163054  1.963790  ... -0.131155  0.677799 -0.120613 -0.119792
4  230460314    1  1.011523 -0.081127  ...  0.326394  1.293750  0.178136  0.179117

[5 rows x 167 columns]

        txId    class
0  230425980  unknown
1    5530458  unknown
2  232022460  unknown
3  232438397        2
4  230460314  unknown

# Building the graph

In [ ]:
len(edges),len(features),len(classes)
display(edges.head(5),features.head(5),classes.head(5))

#defining features
tx_features = ["tx_feat_"+str(i) for i in range(2,95)]
agg_features = ["agg_feat_"+str(i) for i in range(1,73)]
features.columns = ["txId","time_step"] + tx_features + agg_features
features = pd.merge(features,classes,left_on="txId",right_on="txId",how='left')
features['class'] = features['class'].apply(lambda x: '0' if x == "unknown" else x)

#class counts
features.groupby('class').size()
count_by_class = features[["time_step",'class']].groupby(['time_step','class']).size().to_frame().reset_index()

#categorising the class
illicit_count = count_by_class[count_by_class['class'] == '1']
licit_count = count_by_class[count_by_class['class'] == '2']
unknown_count = count_by_class[count_by_class['class'] == "0"]

#Building graph
ids = features['txId']
short_edges = edges[edges['txId1'].isin(ids)]
graph = nx.from_pandas_edgelist(short_edges, source = 'txId1', target = 'txId2', 
                                 create_using = nx.DiGraph())

       txId1      txId2
0  230425980    5530458
1  232022460  232438397
2  230460314  230459870
3  230333930  230595899
4  232013274  232029206

         0    1         2         3    ...       163       164       165       166
0  230425980    1 -0.171469 -0.184668  ... -0.131155 -0.097524 -0.120613 -0.119792
1    5530458    1 -0.171484 -0.184668  ... -0.131155 -0.097524 -0.120613 -0.119792
2  232022460    1 -0.172107 -0.184668  ... -0.131155 -0.183671 -0.120613 -0.119792
3  232438397    1  0.163054  1.963790  ... -0.131155  0.677799 -0.120613 -0.119792
4  230460314    1  1.011523 -0.081127  ...  0.326394  1.293750  0.178136  0.179117

[5 rows x 167 columns]

        txId    class
0  230425980  unknown
1    5530458  unknown
2  232022460  unknown
3  232438397        2
4  230460314  unknown

# Node2vec

In [ ]:
i= [1]
j= [0.1,  1, 10, 100]
for p in i:
    for q in j:
        node2vec = Node2Vec(graph, dimensions = 128, p=p, q=q, 
                                        workers=1)
        model = node2vec.fit(window=10, min_count=1, batch_words=4)
        #extracting embeddings for anomaly detection
        node2vec_dict = {}
        for node in graph.nodes():
            node = str(node)
            node2vec_dict[node] = model.wv[node]
        
        node2vec_pd = pd.DataFrame.from_dict(node2vec_dict, orient='index')
        node2vec_pd.to_csv(r'/content/drive/My Drive/Thesis/node2vecp{}q{}.csv'.format(p,q))

Computing transition probabilities: 100%|██████████| 203769/203769 [00:08<00:00, 24900.29it/s]
Generating walks (CPU: 1): 100%|██████████| 10/10 [05:37<00:00, 33.74s/it]
Computing transition probabilities: 100%|██████████| 203769/203769 [00:10<00:00, 20237.79it/s]
Generating walks (CPU: 1): 100%|██████████| 10/10 [05:37<00:00, 33.72s/it]
Computing transition probabilities: 100%|██████████| 203769/203769 [00:09<00:00, 22183.21it/s]
Generating walks (CPU: 1): 100%|██████████| 10/10 [05:40<00:00, 34.02s/it]
Computing transition probabilities: 100%|██████████| 203769/203769 [00:07<00:00, 26226.49it/s]
Generating walks (CPU: 1): 100%|██████████| 10/10 [05:43<00:00, 34.32s/it]

# LINE

In [ ]:
!python setup.py install

In [ ]:
!python line-elliptic.py

In [ ]:
line_dict = {}
for node in G.nodes():
    node = str(node)
    line_dict[node] = node2vec_d_32_w_10[node]
line_all = pd.DataFrame.from_dict(line_dict, orient='index')

In [ ]:
line_all.to_csv(r'LINE.csv')

# ProNE

In [ ]:
!git clone https://github.com/lykeven/ProNE

In [ ]:
os.chdir("/content/drive/My Drive/ProNE")
!pip install -r requirements.txt
!mkdir emb

In [ ]:
!python proNE.py -graph data/ProNE.txt -emb1 emb/PPI_sparse.emb -emb2 emb/PPI_spectral.emb -dimension 128 -step 10 -theta 0.5 -mu 0.2

In [ ]:
!python classifier.py -label data/ProNE.txt -emb emb/PPI_spectral.emb -shuffle 4

# Zip all the embeddings

In [ ]:
!zip -r '/content/drive/My Drive/embeddings.zip' '/content/drive/My Drive/Thesis'

  adding: content/drive/My Drive/Thesis/ (stored 0%)
  adding: content/drive/My Drive/Thesis/node2vec.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/deepwalk.csv (deflated 55%)
  adding: content/drive/My Drive/Thesis/line.csv (deflated 55%)
  adding: content/drive/My Drive/Thesis/node2vec_d_16_w_10.csv (deflated 54%)
  adding: content/drive/My Drive/Thesis/node2vec_d_16_w_4.csv (deflated 54%)
  adding: content/drive/My Drive/Thesis/node2vec_d_32_w_4.csv (deflated 54%)
  adding: content/drive/My Drive/Thesis/node2vec_d_32_w_10.csv (deflated 54%)
  adding: content/drive/My Drive/Thesis/node2vecp0.5q0.1.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.75q0.1.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp1q0.1.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/.ipynb_checkpoints/ (stored 0%)
  adding: content/drive/My Drive/Thesis/node2vecp0.5q1.csv (deflated 55%)
  adding: content/drive/My Drive/Thesis/node2vecp0.75q1.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp1q1.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.25q0.1.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.5q10.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.75q10.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp1q10.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.25q1.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.75q100.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.5q100.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp1q100.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/node2vecp0.25q10.csv (deflated 56%)
  adding: content/drive/My Drive/Thesis/ProNE_csv.csv (deflated 62%)
  adding: content/drive/My Drive/Thesis/node2vecp0.25q100.csv (deflated 56%)

#Anomaly detection

In [4]:
node2vec_pd= pd.read_csv('/content/drive/My Drive/Thesis/ProNE_csv.csv',engine='python')

In [9]:
node2vec_pd.info

<bound method DataFrame.info of              0  -0.007454111  -0.02180169  ...  0.00729091  0.001511656  0.011041674
0            1      0.015514     0.127967  ...    0.011533     0.023873    -0.011574
1            2      0.000856     0.034847  ...    0.012359    -0.012629     0.011705
2            3      0.006407    -0.015302  ...    0.002093     0.001176    -0.010597
3            4     -0.006946    -0.235154  ...   -0.004359    -0.003617    -0.001992
4            5     -0.021816    -0.193544  ...    0.026522     0.003188     0.008708
...        ...           ...          ...  ...         ...          ...          ...
203763  203764     -0.000683    -0.031747  ...    0.044357     0.009157     0.002042
203764  203765      0.002078     0.005218  ...   -0.038895     0.018855     0.017451
203765  203766      0.012102    -0.064010  ...    0.035512     0.009719     0.002635
203766  203767      0.000280    -0.097348  ...    0.004501    -0.035833     0.008660
203767  203768      0.017633     0.213249  ...    0.002913     0.008165    -0.013352

[203768 rows x 129 columns]>

In [5]:
y_num= classes['class']
y_num=y_num.replace('unknown', numpy.NaN)
y_num=y_num.replace('2','0' )
node2vec_pd['class']= y_num
node2vec_pd=node2vec_pd.dropna()
y_num= node2vec_pd['class']
y_num= y_num.to_frame()
del node2vec_pd['class']

X=node2vec_pd

In [25]:
X.info

<bound method DataFrame.info of              0  -0.007454111  -0.02180169  ...  0.00729091  0.001511656  0.011041674
3            4     -0.006946    -0.235154  ...   -0.004359    -0.003617    -0.001992
9           10     -0.012158    -0.100472  ...   -0.036637     0.006454     0.016018
10          11     -0.021492    -0.185170  ...    0.020669     0.003996     0.010332
11          12     -0.009416     0.241540  ...   -0.020251     0.005882    -0.003896
16          17     -0.006485     0.221305  ...   -0.014038     0.010784    -0.010687
...        ...           ...          ...  ...         ...          ...          ...
203752  203753      0.009056     0.131397  ...    0.079352    -0.001017    -0.031936
203754  203755     -0.010024    -0.132012  ...   -0.003111     0.012341    -0.010781
203759  203760      0.002385     0.030836  ...   -0.023370     0.015795     0.010552
203763  203764     -0.000683    -0.031747  ...    0.044357     0.009157     0.002042
203766  203767      0.000280    -0.097348  ...    0.004501    -0.035833     0.008660

[46564 rows x 129 columns]>

In [ ]:
outliers_fraction=0.108
random_state=123
#anomaly detection using isolation and local outlier factor
classifiers = {
"Outlier Detection with Minimum Covariance Determinant (MCD)": MCD(contamination=outliers_fraction),
'Angle-based Outlier Detector (ABOD)': ABOD(contamination=outliers_fraction),
'Cluster-based Local Outlier Factor (CBLOF)':CBLOF(contamination=outliers_fraction,check_estimator=False, random_state=random_state),
'Isolation Forest': IForest(contamination=outliers_fraction,random_state=random_state),
"Principal Component Analysis (PCA) Outlier Detector": PCA(contamination=outliers_fraction),

}
for i, (clf_name,clf) in enumerate(classifiers.items()):
    #Fit the data and tag outliers
    clf.fit(X)
    # predict raw anomaly score
    scores_pred = clf.decision_function(X) * -1
        
    # prediction of a datapoint category outlier or inlier
    y_pred = clf.predict(X)
    n_inliers = len(y_pred) - np.count_nonzero(y_pred)
    n_outliers = np.count_nonzero(y_pred == 1)
    y_pred = clf.predict(X)  # outlier labels (0 or 1)
    y_scores = clf.decision_function(X)  # outlier scores
    y_num['class']=pd.to_numeric(y_num['class'])
    y_num['y_pred']= y_pred
    y_num['y_pred']=pd.to_numeric(y_num['y_pred'])
    y_num['y_scores']=y_scores
    y_num['y_scores']=pd.to_numeric(y_num['y_scores'])
    n_errors = (y_num['y_pred'] != y_num['class']).sum()
    print("precision of {} is {}".format(clf_name,precision_score( y_num['class'],y_num['y_pred'])))
    print("recall of {} is {}".format(clf_name,recall_score( y_num['class'],y_num['y_pred'])))
    print("ROC of {} is {}".format(clf_name,roc_auc_score( y_num['class'],y_num['y_scores'])))

    fpr, tpr, thresholds = roc_curve(y_num['class'],y_num['y_scores'])
    plt.plot(fpr, tpr, 'k-', lw=2)
    plt.xlabel('FPR')
    plt.ylabel('TPR')
    print("ROC_AUC curve")
    plt.show()